html{
  scroll-behavior:smooth;
  position: relative;
}


body{
    font-family: 'Chivo', sans-serif !important;
    height: 100%;
}


nav img{
  width: 75px;
  height: 75px;
}
header{
  background-attachment: fixed;
  background-size:cover;
  background-image: url(imagens/pexels-alexander-grey-1148998.jpg)
  
}

.Navbar{
  margin-left: 20px;
}
.item{
  height: 368px;
  width: 288px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 60px;
}
.item h4{
    font-size: 20px;
}
.projetos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:wrap ;
}

.tudo-objetivo{
  width: 100%;
}


.tudo-principal{
  padding: 30px;
  display: flex;    
  flex-direction: row;
  background-color: orange;
}
.texto-principal{
  display: flex;
  flex-direction: column;
  padding:2.50%;
  margin-top: 2.50%;
}

.nav-item1{
background-color: white;
border-radius: 20px;
padding: 5px;
}
.nav-item2{

  border-radius: 20px;
  padding: 5px;
  }
  .nav-item3{
   
    border-radius: 20px;
    padding: 5px;
    }
    .nav-item4{
  
      border-radius: 20px;
      padding: 5px;
      }
      .nav-item5{
    
        border-radius: 20px;
        padding: 5px;
        }

.tudo-principal img{
  width: 50%;
  height: 50%;
}


.texto-principal input{
  border-radius: 1rem;
  width: 40%;
  height:2.50rem ;
  background-color: white;
  color: black;
  border: none;
}



input{
  border-radius: 1rem;
  background-color: #0d6efd;
  color: white;
  border: none;
  margin-bottom: 20px;
  height:2rem ;
}


#enviar{
  margin-bottom: 170px;
}